* {
    box-sizing: border-box;
    background-color:rgb(39, 40, 67);
}

.grids {    
    margin: 0;
    padding: 0;
    background-color:white;
    border: 1px solid black;
}

button {
    background-color: white;
}

#playground {
    display: flex;
    flex-wrap: wrap;
    border: 10px solid black;
    justify-content: space-around;
    height: 400px;
    width: 400px;

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}