* {
    box-sizing: border-box;
    background-color:blanchedalmond;
}

.grids {
    margin: 0;
    padding: 0;
    background-color:white;
    border: 1px solid black;

}


#playground {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
    justify-content: space-around;
    height: 400px;
    width: 400px;

}
